<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Thế giới Bất động sản 24h
    link(rel='stylesheet', href='../css/bootstrap.min.css')
    link(rel='stylesheet', href='../css/mdb.min.css')
    link(rel='stylesheet', href='../css/owl.carousel.min.css')
    link(rel='stylesheet', href='../css/owl.theme.default.min.css')
    link(rel='stylesheet', href='../css/materialdesignicons.min.css')
    link(rel="stylesheet", href='../css/jquery.fancybox.min.css')
    link(rel='stylesheet', href='../css/swiper.min.css')
    link(rel='stylesheet', href='../css/layout.css')
    link(rel='shortcut icon', href='../img/favicon.png')
  body
    .go-top(title='Lên đầu trang')
      span
      span

    block header
      header
        section.menu.wow
          .container
            .logo
              a(href='index.html')
                img(src='../img/logo.png')

            .main-menu
              ul.nav
                .nav-close
                  i.mdi.mdi-close.d-block.d-xl-none
                li.nav-item
                  a.nav-link(href='index.html') Trang chủ
                li.nav-item
                  a.nav-link(href='ban.html') 
                    | Bán
                    i.mdi.mdi-menu-down
                  ul
                    li
                      a(href='ban.html') Căn hộ bán
                    li
                      a(href='ban.html') Văn phòng bán
                    li
                      a(href='ban.html') Đất bán
                    li
                      a(href='ban.html') Căn hộ bán
                    li
                      a(href='ban.html') Căn hộ bán
                    

                li.nav-item
                  a.nav-link(href='cho-thue.html') 
                    | Cho thuê
                    i.mdi.mdi-menu-down
                  ul
                    li
                      a(href='cho-thue.html') Căn hộ cho thuê
                    li
                      a(href='cho-thue.html') Siêu thị cho thuê
                    li
                      a(href='cho-thue.html') Đất cho thuê
                    li
                      a(href='cho-thue.html') Căn hộ cho thuê
                    li
                      a(href='cho-thue.html') Căn hộ cho thuê
                    
                li.nav-item
                  a.nav-link(href='du-an.html') Dự án
                li.nav-item
                  a.nav-link(href='tin-tuc.html') Tin tức
                li.nav-item
                  a.nav-link(href='dich-vu.html') Dịch vụ
                li.nav-item
                  a.nav-link(href='lien-he.html') Liên hệ

        .overlay-menu

        
    article
      block article


    
    block footer
      section.footer
        .container
          .row
            .col-xl-3.col-lg-4.col-sm-6
              .contact
                h4 
                  | thông tin liên hệ
                  i.mdi.mdi-chevron-down
                ul
                  li
                    i.mdi.mdi-map-outline
                    | 192/41 (số cũ E29 ) Nguyễn Oanh, Cư Xá Ba Son P.17, Q. Gò Vấp, Tp.HCM 

                  li
                    i.mdi.mdi-deskphone
                    | (028) 5446.5679 - 2200.9858 - 6275.9112
                  li
                    i.mdi.mdi-email-outline
                    | euromacvietnam@gmail.com
                  li
                    i.mdi.mdi-note-outline
                    | Mã số thuế: 4757654
            
            .col-xl-3.col-lg-4.col-sm-6
              .link
                h4 
                  | Liên kết nhanh
                  i.mdi.mdi-chevron-down
                ul
                  li
                    a(href='index.html')
                      i.mdi.mdi-minus
                      | Trang chủ
                  li
                    a(href='gioi-thieu.html')
                      i.mdi.mdi-minus
                      | Giới thiệu
                  li
                    a(href='index.html')
                      i.mdi.mdi-minus
                      | Sản phẩm
                  li
                    a(href='index.html')
                      i.mdi.mdi-minus
                      | Công trình
                  li
                    a(href='index.html')
                      i.mdi.mdi-minus
                      | Xưởng
                  li
                    a(href='index.html')
                      i.mdi.mdi-minus
                      | Tin mới
                  li
                    a(href='index.html')
                      i.mdi.mdi-minus
                      | Tuyển dụng
                  li
                    a(href='index.html')
                      i.mdi.mdi-minus
                      | Liên hệ
                  
            .col-xl-2.col-lg-4.col-sm-6
              .policy
                h4 
                  | Chính sách
                  i.mdi.mdi-chevron-down
                ul
                  li
                    a(href='index.html')
                      i.mdi.mdi-minus
                      | Chính sách ưu đãi
                  li
                    a(href='gioi-thieu.html')
                      i.mdi.mdi-minus
                      | Chính sách bảo mật
                  li
                    a(href='index.html')
                      i.mdi.mdi-minus
                      | Chính sách ưu đãi
                  li
                    a(href='index.html')
                      i.mdi.mdi-minus
                      | Chính sách ưu đãi

            .col-xl-4.col-lg-4.col-sm-6
              .news
                h4 
                  | tin mới
                  i.mdi.mdi-chevron-down

                .box-news
                  .box-news-img
                    a(href='chi-tiet-tin-tuc.html')
                      img(src='../img/news-1.png')
                  .box-news-detail
                    h5  
                      a(href='chi-tiet-tin-tuc.html')
                        | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam, labore?
                    h4
                      i.mdi.mdi-calendar-outline
                      | 20/04/2019
                .box-news
                  .box-news-img
                    a(href='chi-tiet-tin-tuc.html')
                      img(src='../img/news-1.png')
                  .box-news-detail
                    h5  
                      a(href='chi-tiet-tin-tuc.html')
                        | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam, labore?
                    h4
                      i.mdi.mdi-calendar-outline
                      | 20/04/2019
                
          .copyright.text-center
            h5 Copyright @ 2019 MỘC KIẾN QUỐC. All Reserved. Designed by Tri Viet
          



                    
                    
                    


      script(src='../js/jquery-3.3.1.min.js')
      script(src='../js/bootstrap.min.js')
      script(src='../js/mdb.min.js')
      script(src='../js/owl.carousel.min.js')
      script(src='../js/jquery.hoverdir.js')
      script(src='../js/modernizr.custom.97074.js')
      script(src='../js/jquery.fancybox.min.js')
      script(src='../js/swiper.min.js')
      script(src='../js/layout.js')
