<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Thế giới Bất động sản 24h</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../css/mdb.min.css"/>
    <link rel="stylesheet" href="../css/owl.carousel.min.css"/>
    <link rel="stylesheet" href="../css/owl.theme.default.min.css"/>
    <link rel="stylesheet" href="../css/materialdesignicons.min.css"/>
    <link rel="stylesheet" href="../css/jquery.fancybox.min.css"/>
    <link rel="stylesheet" href="../css/swiper.min.css"/>
    <link rel="stylesheet" href="../css/layout.css"/>
    <link rel="shortcut icon" href="../img/favicon.png"/>
  </head>
  <body>
    <div class="go-top" title="Lên đầu trang"><span></span><span></span></div>
    <header>
      <section class="menu wow">
        <div class="toggleMenu d-block d-md-none"><i class="mdi mdi-menu"></i></div>
        <div class="search-btn d-block d-md-none"><i class="mdi mdi-magnify"></i></div>
        <div class="container">
          <div class="logo"><a href="index.html"><img src="../img/logo.png"/></a></div>
          <div class="main-menu">
            <ul class="nav">
              <div class="nav-close"><i class="mdi mdi-close d-block d-md-none"></i></div>
              <li class="nav-item"><a class="nav-link" href="index.html">Trang chủ</a></li>
              <li class="nav-item"><a class="nav-link" href="ban.html">
                   Bán<i class="mdi mdi-menu-down"></i></a>
                <ul>
                  <li><a href="ban.html">Căn hộ bán</a></li>
                  <li><a href="ban.html">Văn phòng bán</a></li>
                  <li><a href="ban.html">Đất bán</a></li>
                  <li><a href="ban.html">Căn hộ bán</a></li>
                  <li><a href="ban.html">Căn hộ bán</a></li>
                </ul>
              </li>
              <li class="nav-item"><a class="nav-link" href="cho-thue.html">
                   Cho thuê<i class="mdi mdi-menu-down"></i></a>
                <ul>
                  <li><a href="cho-thue.html">Căn hộ cho thuê</a></li>
                  <li><a href="cho-thue.html">Siêu thị cho thuê</a></li>
                  <li><a href="cho-thue.html">Đất cho thuê</a></li>
                  <li><a href="cho-thue.html">Căn hộ cho thuê</a></li>
                  <li><a href="cho-thue.html">Căn hộ cho thuê</a></li>
                </ul>
              </li>
              <li class="nav-item"><a class="nav-link" href="du-an.html">Dự án</a></li>
              <li class="nav-item"><a class="nav-link" href="tin-tuc.html">Tin tức</a></li>
              <li class="nav-item"><a class="nav-link" href="dich-vu.html">Dịch vụ</a></li>
              <li class="nav-item"><a class="nav-link" href="lien-he.html">Liên hệ</a></li>
            </ul>
          </div>
        </div>
      </section>
      <div class="overlay-menu"></div>
    </header>
    <article>
      <section class="page-slider slider">
        <div class="owl-carousel slider-carousel owl-theme">
          <div class="item"><a href="#"><img src="../img/slider-1.png"/></a></div>
          <div class="item"><a href="#"><img src="../img/slider-1.png"/></a></div>
        </div>
        <div class="search">
          <div class="container">
            <h1>Tìm kiếm ngay cho mình một căn hộ !</h1>
            <form>
              <input type="text" placeholder="Nhập từ khóa . . ."/>
              <select>
                <option>Bán</option>
                <option>Cho thuê</option>
              </select>
              <select>
                <option>Loại BĐS</option>
                <option>Căn hộ cho thuê</option>
                <option>Căn hộ bán</option>
              </select>
              <select>
                <option>Tỉnh / Thành</option>
                <option>TP Hồ Chí Minh</option>
              </select>
              <select>
                <option>Quận / Huyện</option>
                <option>Quận 2</option>
              </select>
              <button type="submit">Tìm kiếm</button>
            </form>
          </div>
        </div>
      </section>
      <section class="bread-crumb">
        <div class="container">
          <div class="bc-icons">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
                <li class="breadcrumb-item"><a href="du-an.html">Dự án</a></li>
                <li class="breadcrumb-item active">Lorem ipsum dolor sit amet.</li>
              </ol>
            </nav>
          </div>
        </div>
      </section>
      <section class="page-detail"> 
        <div class="container">
          <div class="page-project">
            <h3>Lorem ipsum dolor sit amet.</h3>
            <ul class="nav nav-tabs" role="tablist">
              <li class="nav-item"><a class="nav-link active" id="tong-quan-tab" href="#tong-quan" data-toggle="tab"><i class="mdi mdi-checkerboard"></i><span>Tổng quan</span></a></li>
              <li><a class="nav-link" id="vi-tri-tab" href="#vi-tri" data-toggle="tab"><i class="mdi mdi-map-outline"></i><span>vị trí</span></a></li>
              <li><a class="nav-link" id="mat-bang-tab" href="#mat-bang" data-toggle="tab"><i class="mdi mdi-floor-plan"></i><span>mặt bằng</span></a></li>
              <li><a class="nav-link" id="nha-mau-tab" href="#nha-mau" data-toggle="tab"><i class="mdi mdi-image-outline"></i><span>nhà mẫu</span></a></li>
              <li><a class="nav-link" id="tien-ich-tab" href="#tien-ich" data-toggle="tab"><i class="mdi mdi-briefcase-outline"></i><span>tiện ích</span></a></li>
              <li><a class="nav-link" id="thanh-toan-tab" href="#thanh-toan" data-toggle="tab"><i class="mdi mdi-credit-card"></i><span>thanh toán</span></a></li>
              <li><a class="nav-link" id="tin-tuc-tab" href="#tin-tuc" data-toggle="tab"><i class="mdi mdi-newspaper"></i><span>tin tức</span></a></li>
              <li><a class="nav-link" id="video-tab" href="#video" data-toggle="tab"><i class="mdi mdi-video-outline"></i><span>video</span></a></li>
              <li><a class="nav-link" id="hoi-dap-tab" href="#hoi-dap" data-toggle="tab"><i class="mdi mdi-account-question-outline"></i><span>hỏi đáp</span></a></li>
            </ul>
            <div class="tab-content">
              <div class="box-project-text" id="tong-quan">
                <h3><a>tổng quan</a></h3>
                <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque cumque provident cum enim labore autem
                  maiores sequi officiis. At commodi reiciendis, sint quo accusantium iure ipsum itaque exercitationem
                  explicabo? Quos!
                </p>
                <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque cumque provident cum enim labore autem
                  maiores sequi officiis. At commodi reiciendis, sint quo accusantium iure ipsum itaque exercitationem
                  explicabo? Quos!
                </p><img src="../img/project-1.png" alt=""/>
              </div>
              <div class="box-project-text" id="vi-tri">
                <h3><a>vị trí</a></h3>
                <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque cumque provident cum enim labore autem
                  maiores sequi officiis. At commodi reiciendis, sint quo accusantium iure ipsum itaque exercitationem
                  explicabo? Quos!
                </p>
                <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque cumque provident cum enim labore autem
                  maiores sequi officiis. At commodi reiciendis, sint quo accusantium iure ipsum itaque exercitationem
                  explicabo? Quos!
                </p>
                <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque cumque provident cum enim labore autem
                  maiores sequi officiis. At commodi reiciendis, sint quo accusantium iure ipsum itaque exercitationem
                  explicabo? Quos!
                </p>
              </div>
              <div class="box-project-text" id="mat-bang">
                <h3><a>mặt bằng</a></h3>
                <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque cumque provident cum enim labore autem
                  maiores sequi officiis. At commodi reiciendis, sint quo accusantium iure ipsum itaque exercitationem
                  explicabo? Quos!
                </p>
                <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque cumque provident cum enim labore autem
                  maiores sequi officiis. At commodi reiciendis, sint quo accusantium iure ipsum itaque exercitationem
                  explicabo? Quos!
                </p>
                <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque cumque provident cum enim labore autem
                  maiores sequi officiis. At commodi reiciendis, sint quo accusantium iure ipsum itaque exercitationem
                  explicabo? Quos!
                </p>
                <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque cumque provident cum enim labore autem
                  maiores sequi officiis. At commodi reiciendis, sint quo accusantium iure ipsum itaque exercitationem
                  explicabo? Quos!
                </p>
              </div>
              <div class="box-project-text" id="nha-mau">
                <h3><a>nhà mẫu</a></h3><img src="../img/project-1.png" alt=""/><img src="../img/project-1.png" alt=""/>
              </div>
              <div class="box-project-text" id="tien-ich">
                <h3><a>tiện ích</a></h3>
                <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque cumque provident cum enim labore autem
                  maiores sequi officiis. At commodi reiciendis, sint quo accusantium iure ipsum itaque exercitationem
                  explicabo? Quos!
                </p>
                <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque cumque provident cum enim labore autem
                  maiores sequi officiis. At commodi reiciendis, sint quo accusantium iure ipsum itaque exercitationem
                  explicabo? Quos!
                </p>
                <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque cumque provident cum enim labore autem
                  maiores sequi officiis. At commodi reiciendis, sint quo accusantium iure ipsum itaque exercitationem
                  explicabo? Quos!
                </p>
                <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque cumque provident cum enim labore autem
                  maiores sequi officiis. At commodi reiciendis, sint quo accusantium iure ipsum itaque exercitationem
                  explicabo? Quos!
                </p>
              </div>
              <div class="box-project-text" id="thanh-toan">
                <h3><a>thanh toán</a></h3>
                <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque cumque provident cum enim labore autem
                  maiores sequi officiis. At commodi reiciendis, sint quo accusantium iure ipsum itaque exercitationem
                  explicabo? Quos!
                </p>
                <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque cumque provident cum enim labore autem
                  maiores sequi officiis. At commodi reiciendis, sint quo accusantium iure ipsum itaque exercitationem
                  explicabo? Quos!
                </p>
                <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque cumque provident cum enim labore autem
                  maiores sequi officiis. At commodi reiciendis, sint quo accusantium iure ipsum itaque exercitationem
                  explicabo? Quos!
                </p>
                <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque cumque provident cum enim labore autem
                  maiores sequi officiis. At commodi reiciendis, sint quo accusantium iure ipsum itaque exercitationem
                  explicabo? Quos!
                </p>
                <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque cumque provident cum enim labore autem
                  maiores sequi officiis. At commodi reiciendis, sint quo accusantium iure ipsum itaque exercitationem
                  explicabo? Quos!
                </p>
              </div>
              <div class="box-project-text" id="tin-tuc">
                <h3><a>tin tức</a></h3>
                <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque cumque provident cum enim labore autem
                  maiores sequi officiis. At commodi reiciendis, sint quo accusantium iure ipsum itaque exercitationem
                  explicabo? Quos!
                </p>
                <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque cumque provident cum enim labore autem
                  maiores sequi officiis. At commodi reiciendis, sint quo accusantium iure ipsum itaque exercitationem
                  explicabo? Quos!
                </p>
                <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque cumque provident cum enim labore autem
                  maiores sequi officiis. At commodi reiciendis, sint quo accusantium iure ipsum itaque exercitationem
                  explicabo? Quos!
                </p>
                <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque cumque provident cum enim labore autem
                  maiores sequi officiis. At commodi reiciendis, sint quo accusantium iure ipsum itaque exercitationem
                  explicabo? Quos!
                </p>
                <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque cumque provident cum enim labore autem
                  maiores sequi officiis. At commodi reiciendis, sint quo accusantium iure ipsum itaque exercitationem
                  explicabo? Quos!
                </p>
              </div>
              <div class="box-project-text" id="video">
                <h3><a>video</a></h3>
                <iframe src="https://www.youtube.com/embed/Lp0V1sDNNXk" width="100%" height="400" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe>
              </div>
              <div class="box-project-text" id="hoi-dap">
                <h3><a>hỏi đáp</a></h3>
                <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque cumque provident cum enim labore autem
                  maiores sequi osfficiis. At commodi reiciendis, sint quo accusantium iure ipsum itaque exercitationem
                  explicabo? Quos!
                </p>
                <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque cumque provident cum enim labore autem
                  maiores sequi officiis. At commodi reiciendis, sint quo accusantium iure ipsum itaque exercitationem
                  explicabo? Quos!
                </p>
                <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque cumque provident cum enim labore autem
                  maiores sequi officiis. At commodi reiciendis, sint quo accusantium iure ipsum itaque exercitationem
                  explicabo? Quos!
                </p>
                <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque cumque provident cum enim labore autem
                  maiores sequi officiis. At commodi reiciendis, sint quo accusantium iure ipsum itaque exercitationem
                  explicabo? Quos!
                </p>
                <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque cumque provident cum enim labore autem
                  maiores sequi officiis. At commodi reiciendis, sint quo accusantium iure ipsum itaque exercitationem
                  explicabo? Quos!
                </p>
                <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque cumque provident cum enim labore autem
                  maiores sequi officiis. At commodi reiciendis, sint quo accusantium iure ipsum itaque exercitationem
                  explicabo? Quos!
                </p>
                <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque cumque provident cum enim labore autem
                  maiores sequi officiis. At commodi reiciendis, sint quo accusantium iure ipsum itaque exercitationem
                  explicabo? Quos!
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </article>
    <section class="footer">
      <div class="container">
        <div class="row">
          <div class="col-xl-3 col-lg-4 col-sm-6">
            <div class="about">
              <h4>
                 Về chúng tôi<i class="mdi mdi-chevron-down"></i></h4>
              <ul>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, debitis? Animi, explicabo reprehenderit voluptatibus corrupti quibusdam ullam modi nesciunt pariatur unde fuga asperiores architecto, exercitationem aperiam quasi illum culpa? Nobis.</p>
              </ul>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-sm-6">
            <div class="contact">
              <h4>
                 Thông tin liên hệ<i class="mdi mdi-chevron-down"></i></h4>
              <ul>
                <li><i class="mdi mdi-map-outline"></i>81 Bùi Tư Toàn, An Lạc, Bình Tân, HCM</li>
                <li><i class="mdi mdi-deskphone"></i>0357.00.9999</li>
                <li><i class="mdi mdi-email-outline"></i>batdongsan247.tv@gmail.com</li>
              </ul>
            </div>
          </div>
          <div class="col-xl-6 col-lg-5 col-sm-12">
            <div class="letter">
              <h4>
                 Đăng ký nhận bản tin<i class="mdi mdi-chevron-down"></i></h4>
              <form action="">
                <input type="text" placeholder="Nhập email của bạn. . ."/>
                <button type="submit">đăng ký</button>
              </form>
              <h5>Theo dõi chúng tôi qua:<span><a href="#"><i class="mdi mdi-facebook-box"></i></a><a href="#"><i class="mdi mdi-youtube"></i></a></span></h5>
            </div>
          </div>
        </div>
        <div class="copyright text-center">
          <h5>Copyright @ 2019 Thế giới BĐS 24h. All Reserved. Designed by Tri Viet</h5>
        </div>
      </div>
    </section>
    <script src="../js/jquery-3.3.1.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/mdb.min.js"></script>
    <script src="../js/owl.carousel.min.js"></script>
    <script src="../js/jquery.hoverdir.js"></script>
    <script src="../js/modernizr.custom.97074.js"></script>
    <script src="../js/jquery.fancybox.min.js"></script>
    <script src="../js/swiper.min.js"></script>
    <script src="../js/layout.js"></script>
  </body>
</html>