<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Thế giới Bất động sản 24h</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../css/mdb.min.css"/>
    <link rel="stylesheet" href="../css/owl.carousel.min.css"/>
    <link rel="stylesheet" href="../css/owl.theme.default.min.css"/>
    <link rel="stylesheet" href="../css/materialdesignicons.min.css"/>
    <link rel="stylesheet" href="../css/jquery.fancybox.min.css"/>
    <link rel="stylesheet" href="../css/swiper.min.css"/>
    <link rel="stylesheet" href="../css/layout.css"/>
    <link rel="shortcut icon" href="../img/favicon.png"/>
  </head>
  <body>
    <div class="go-top" title="Lên đầu trang"><span></span><span></span></div>
    <header>
      <section class="menu wow">
        <div class="container">
          <div class="logo"><a href="index.html"><img src="../img/logo.png"/></a></div>
          <div class="main-menu">
            <ul class="nav">
              <div class="nav-close"><i class="mdi mdi-close d-block d-xl-none"></i></div>
              <li class="nav-item"><a class="nav-link" href="index.html">Trang chủ</a></li>
              <li class="nav-item"><a class="nav-link" href="ban.html">
                   Bán<i class="mdi mdi-menu-down"></i></a>
                <ul>
                  <li><a href="ban.html">Căn hộ bán</a></li>
                  <li><a href="ban.html">Văn phòng bán</a></li>
                  <li><a href="ban.html">Đất bán</a></li>
                  <li><a href="ban.html">Căn hộ bán</a></li>
                  <li><a href="ban.html">Căn hộ bán</a></li>
                </ul>
              </li>
              <li class="nav-item"><a class="nav-link" href="cho-thue.html">
                   Cho thuê<i class="mdi mdi-menu-down"></i></a>
                <ul>
                  <li><a href="cho-thue.html">Căn hộ cho thuê</a></li>
                  <li><a href="cho-thue.html">Siêu thị cho thuê</a></li>
                  <li><a href="cho-thue.html">Đất cho thuê</a></li>
                  <li><a href="cho-thue.html">Căn hộ cho thuê</a></li>
                  <li><a href="cho-thue.html">Căn hộ cho thuê</a></li>
                </ul>
              </li>
              <li class="nav-item"><a class="nav-link" href="du-an.html">Dự án</a></li>
              <li class="nav-item"><a class="nav-link" href="tin-tuc.html">Tin tức</a></li>
              <li class="nav-item"><a class="nav-link" href="dich-vu.html">Dịch vụ</a></li>
              <li class="nav-item"><a class="nav-link" href="lien-he.html">Liên hệ</a></li>
            </ul>
          </div>
        </div>
      </section>
      <div class="overlay-menu"></div>
    </header>
    <article>
      <section class="bread-crumb">
        <div class="container">
          <div class="bc-icons">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
                <li class="breadcrumb-item active">Giới thiệu</li>
              </ol>
            </nav>
          </div>
        </div>
      </section>
      <section class="page-detail"> 
        <div class="container">
          <div class="title-page">
            <h5>Về Hoàng Gia</h5>
            <h1>Giới thiệu</h1>
          </div>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio, temporibus ullam! Blanditiis nihil sint ab et repudiandae ipsa, sed maiores earum? Id nostrum libero tempora a delectus sed at quis.</p>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio, temporibus ullam! Blanditiis nihil sint ab et repudiandae ipsa, sed maiores earum? Id nostrum libero tempora a delectus sed at quis.</p>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio, temporibus ullam! Blanditiis nihil sint ab et repudiandae ipsa, sed maiores earum? Id nostrum libero tempora a delectus sed at quis.</p>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio, temporibus ullam! Blanditiis nihil sint ab et repudiandae ipsa, sed maiores earum? Id nostrum libero tempora a delectus sed at quis.</p>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio, temporibus ullam! Blanditiis nihil sint ab et repudiandae ipsa, sed maiores earum? Id nostrum libero tempora a delectus sed at quis.</p><img src="../img/product-1.png"/>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio, temporibus ullam! Blanditiis nihil sint ab et repudiandae ipsa, sed maiores earum? Id nostrum libero tempora a delectus sed at quis.</p>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio, temporibus ullam! Blanditiis nihil sint ab et repudiandae ipsa, sed maiores earum? Id nostrum libero tempora a delectus sed at quis.</p>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio, temporibus ullam! Blanditiis nihil sint ab et repudiandae ipsa, sed maiores earum? Id nostrum libero tempora a delectus sed at quis.</p>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio, temporibus ullam! Blanditiis nihil sint ab et repudiandae ipsa, sed maiores earum? Id nostrum libero tempora a delectus sed at quis.</p>
        </div>
      </section>
    </article>
    <section class="footer">
      <div class="container">
        <div class="row">
          <div class="col-xl-3 col-lg-4 col-sm-6">
            <div class="contact">
              <h4>
                 thông tin liên hệ<i class="mdi mdi-chevron-down"></i></h4>
              <ul>
                <li><i class="mdi mdi-map-outline"></i>192/41 (số cũ E29 ) Nguyễn Oanh, Cư Xá Ba Son P.17, Q. Gò Vấp, Tp.HCM </li>
                <li><i class="mdi mdi-deskphone"></i>(028) 5446.5679 - 2200.9858 - 6275.9112</li>
                <li><i class="mdi mdi-email-outline"></i>euromacvietnam@gmail.com</li>
                <li><i class="mdi mdi-note-outline"></i>Mã số thuế: 4757654</li>
              </ul>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-sm-6">
            <div class="link">
              <h4>
                 Liên kết nhanh<i class="mdi mdi-chevron-down"></i></h4>
              <ul>
                <li><a href="index.html"><i class="mdi mdi-minus"></i>Trang chủ</a></li>
                <li><a href="gioi-thieu.html"><i class="mdi mdi-minus"></i>Giới thiệu</a></li>
                <li><a href="index.html"><i class="mdi mdi-minus"></i>Sản phẩm</a></li>
                <li><a href="index.html"><i class="mdi mdi-minus"></i>Công trình</a></li>
                <li><a href="index.html"><i class="mdi mdi-minus"></i>Xưởng</a></li>
                <li><a href="index.html"><i class="mdi mdi-minus"></i>Tin mới</a></li>
                <li><a href="index.html"><i class="mdi mdi-minus"></i>Tuyển dụng</a></li>
                <li><a href="index.html"><i class="mdi mdi-minus"></i>Liên hệ</a></li>
              </ul>
            </div>
          </div>
          <div class="col-xl-2 col-lg-4 col-sm-6">
            <div class="policy">
              <h4>
                 Chính sách<i class="mdi mdi-chevron-down"></i></h4>
              <ul>
                <li><a href="index.html"><i class="mdi mdi-minus"></i>Chính sách ưu đãi</a></li>
                <li><a href="gioi-thieu.html"><i class="mdi mdi-minus"></i>Chính sách bảo mật</a></li>
                <li><a href="index.html"><i class="mdi mdi-minus"></i>Chính sách ưu đãi</a></li>
                <li><a href="index.html"><i class="mdi mdi-minus"></i>Chính sách ưu đãi</a></li>
              </ul>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-sm-6">
            <div class="news">
              <h4>
                 tin mới<i class="mdi mdi-chevron-down"></i></h4>
              <div class="box-news">
                <div class="box-news-img"><a href="chi-tiet-tin-tuc.html"><img src="../img/news-1.png"/></a></div>
                <div class="box-news-detail">
                  <h5> <a href="chi-tiet-tin-tuc.html">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam, labore?</a></h5>
                  <h4><i class="mdi mdi-calendar-outline"></i>20/04/2019</h4>
                </div>
              </div>
              <div class="box-news">
                <div class="box-news-img"><a href="chi-tiet-tin-tuc.html"><img src="../img/news-1.png"/></a></div>
                <div class="box-news-detail">
                  <h5> <a href="chi-tiet-tin-tuc.html">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam, labore?</a></h5>
                  <h4><i class="mdi mdi-calendar-outline"></i>20/04/2019</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="copyright text-center">
          <h5>Copyright @ 2019 MỘC KIẾN QUỐC. All Reserved. Designed by Tri Viet</h5>
        </div>
      </div>
    </section>
    <script src="../js/jquery-3.3.1.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/mdb.min.js"></script>
    <script src="../js/owl.carousel.min.js"></script>
    <script src="../js/jquery.hoverdir.js"></script>
    <script src="../js/modernizr.custom.97074.js"></script>
    <script src="../js/jquery.fancybox.min.js"></script>
    <script src="../js/swiper.min.js"></script>
    <script src="../js/layout.js"></script>
  </body>
</html>